<br />
<div class = ' col-xs-10 col-sm-6 col-xs-offset-1'>
	<h1 class = "text-center">Add a Wish</h1>
	<br />
	<%= simple_form_for @wish, :url=> dreamer_wishes_path do |f| %>
	<%= f.input :name %>
	<%= f.input :url %>
	<%= f.input :description %>
	<%= f.input :occasion %>
	<br />
	<%= f.submit "Add a wish", :class => 'btn btn-success' %>
	<% end %>
</div>